body{
    background-image:url"(https://staticc.sportskeeda.com/editor/2022/05/5fe8f-16513739221804-1920.jpg%22)";
    text-align: center;
}
.paragraph-1{
    width: 500px;
    height: 300px;
    background-color: #ADD8E6;
    opacity: 0.8;
    border: solid 7px #CBC3E3 ;
    border-radius: 20px;
}

.paragraph-2{
    width: 500px;
    height: 300px;
    background-color: #ADD8E6;
    opacity: 0.8;
    border: solid 7px #CBC3E3 ;
    border-radius: 20px;
}

div{
    text-align: center;
    margin: auto;
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    justify-content:space-evenly;
    text-decoration:none;
}

a{
    text-decoration:none;
}